/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing for consistent sizing */
  }
  
  /* Body Styles */
  body {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    padding-top: 60px; /* Adjusted for header height */
  }
  
  /* Header Styles */
  .header {
    background-color: black;
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-list li {
    margin: 0;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-list a:hover {
    text-decoration: underline;
  }
  
  /* General Element Styles */
  h1 {
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
  }
  
  p {
    margin-left: 15px;
    font-size: 24px;
    opacity: 0.7;
  }
  
  /* Main Section Styles */
  .main {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
  
  .main_link {
    width: 250px;
    height: 250px;
    border-radius: 17px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: transform 0.5s ease;
    position: relative;
  }
  
  .main_link:hover {
    transform: scale(1.05);
  }
  
  .main_link img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .main_link p {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Layout Styles */
  .layout {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Vacancy Styles */
  .vacancy {
    border-radius: 24px;
    height: 150px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
  }
  
  .vacancy p {
    font-size: 20px;
    margin: auto;
  }
  
  .vacancy:hover {
    transform: scale(1.1);
  }
  