<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Специалист</title>
    <link rel="stylesheet" th:href="@{/css/specialistsFocus.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p class="p" style="margin-top: 30px">team 6</p>
<p class="p">recruitment helper</p>
<h1 style="padding-top: 10px;">выберите нужное:</h1>
<div class="main">
    <div class="main_link" onclick="window.location.href='/home/vacancies'">
        <p>вакансии</p>
        <img th:src="@{/img/img_1.png}">
    </div>
    <div class="main_link" onclick="window.location.href='/home/cvs'">
        <p>специалисты</p>
        <img th:src="@{/img/img_2.png}">
    </div>
</div>
</body>
</html>